/* General */
:root {
  --color-accent: oklch(77.35% 0.1135 250.94);
  accent-color: var(--color-accent);
  color-scheme: light dark;
}

body {
  /* Set line height to 1.5 times the font size
        and use the OS’s UI font as the website font
      */
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding: 2ch;
}

h1 {
  font-size: 400%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

/* Home page */
#home_image {
  width: 400px;
  height: 375px;
  border-radius: 50%;
}

#profile-stats dl{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 2%;
}

#profile-stats dt{
  grid-row: 1;
  font-size: 100%;
  color: gray;
}

#profile-stats dd{
  grid-row: 2;
  font-size: 125%;
  margin: 0;
}

/* Navigation bar */
nav {
  display: flex;
  border-bottom: 1px solid oklch(80% 3% 200);
  --border-color: oklch(50% 10% 200 / 40%);
  border-bottom-color: var(--border-color);
  margin-bottom: 2ch;
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

nav a.current {
  font-weight: bold;
  border-bottom: 0.4em solid oklch(80% 3% 200);
  border-bottom-color: oklch(50% 10% 200 / 40%);
  padding-bottom: 0px;
}

a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  background-color: color-mix(in oklch, var(--color-accent), canvas 15%);
  padding-bottom: 0px;
}

label.color-scheme {
  font-size: 80%;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

/* Contact Form */
input, textarea, button, select{
  font: inherit;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em
} 

form label {
  display: grid;
  grid-template-columns: subgrid;
}

form button {
  grid-column: 1/-1;
}

/* Projects */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
}

.projects article {
  grid-template-rows: subgrid;
  grid-row: span 3;
  margin: 1%;
}

.projects article h2 {
  margin: 0;
}

.projects article p {
  font-size: 85%;
  font-weight: normal;
}

.container {
  display: flex;
  align-items: center;
}

.legend {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11em, 1fr));
  gap: 0.5em;
  padding: 0.5em;
  margin: 1em;
  flex: 1;
  min-width: 7em;
}

.legend li {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.swatch {
  width: 1em;
  aspect-ratio: 1 / 1;
  background-color: var(--color);
  border-radius: 25%;
}

.searchBar {
  width: 100%;
  margin-bottom: 2em;
}

&:has(path:hover) {
  path:not(:hover) {
    opacity: 0.5;
  }
}

path {
  transition: 300ms;
  cursor: pointer;
}

.selected {
  --color: oklch(60% 45% 0) !important;

  &:is(path) {
    fill: var(--color);
  }
}

svg {
  max-width: 20em;
  margin-block: 2em;
  overflow: visible;
}

/* Resume */
.resume section {
  border-top: 0.4em solid var(--color-accent);
}

.resume h2 {
  text-align: center;
}

/* Meta */
#stats dl{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 2%;
}

#stats dt{
  grid-row: 1;
  font-size: 100%;
  color: gray;
}

#stats dd{
  grid-row: 2;
  font-size: 125%;
  margin: 0;
}

#commit-tooltip {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 1em;
  backdrop-filter: blur(10px);
}

dl.info {
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 0;
  transition-duration: 500ms;
  transition-property: opacity, visibility;
}

dl.info[hidden]:not(:hover, :focus-within) {
  opacity: 0;
  visibility: hidden;
}

dl.info dt {
  font-weight: normal;
  color: gray;
}

dl.info dd {
  text-align: right;
}

.tooltip {
  position: fixed;
  top: 1em;
  left: 1em;
}

circle {
  transition: 200ms;
  transform-origin: center;
  transform-box: fill-box;
}

circle:hover {
  transform: scale(1.5);
}